.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    padding: 15px;
}

.confirm {
    box-shadow: 2px 4px 0px black;
    background-color: #FF5A5F;
    color: white;
    height: 40px;
    font-size: 18px;
    width: 90%;
    margin-top: 10px;
}
.cancel {
    box-shadow: 2px 4px 0px black;
    background-color: gray;
    color: white;
    width: 90%;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
}
