/* .div-form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.formBox label {
    /* display: flex; */
    margin: 25px;
    justify-content: center;
    /* margin: 25px; */
    display: flex;
}
