.tile {
  position: relative;
  width: 200px;
  height: 275px;
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  transition: all 0.3s ease-in-out;
  /* add transition property */
}

.thumbnail-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.spot-name {
  position: absolute;
  bottom: 0;
  width: 180px;
  padding: 10px;
  background-color: #d2faca;
  text-align: left;
  z-index: 0;
}

.spot-stars {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 5px;
  border-radius: 0 10px 0 10px;
}



/*
.spot-city {
  font-size: 14px;
  font-weight: bold;
  color: #334454;
  margin: 0 0 6px;
} */



.tile .fa-eye,
.tile .fa-comment-alt,
.tile .fa-download {
  margin-right: 10px;
}

.tile .fas {
  color: #fff;
}

.tile .tile__info {
  position: absolute;
  bottom: 60%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: #fff;
  z-index: 1;
}

.tile:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tile:hover .spot-name {
  transform: translateY(0%);
  opacity: 1;
}
